<a href="https://colab.research.google.com/github/LailaDuffy/BubbleSortAlgorithm/blob/master/WoTechLesson3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# comment
this_is_a_greeting = "Good morning!"
print(this_is_a_greeting)

# variable naming - use snake_case, cannot start the name with a number
greeting = 14 # number value assigned to the same variable
print(greeting)

Good morning!
14

In [7]:
name = "Anna" #text/string
surname = "Johnson" #text/string
age = 35 #int
occupation = "programmer" #text/string
university_graduate = False #bool
height = 172.23 #float
print("Name: " + name, surname, age, occupation, university_graduate, height)
print(f"Full name: {name} {surname}\nOccupation: {occupation}\nUni degree: {university_graduate}\nHeight: {height}")

Name: Anna Johnson 35 programmer False 172.23
Full name: Anna Johnson
Occupation: programmer
Uni degree: False
Height: 172.23

In [11]:
# We are preparing for a party
guest1 = "Anna"
guest2 = "John"
guest3 = "Jenny"

print(guest1, guest2, guest3)

guest_list = ['Anna', 'John', 'Jenny', 'Kerli', 'Madara'] # Strings can be defined with "" or '', in Python mostly used ''
print(guest_list)

for guest in guest_list:
  print(guest)

Anna John Jenny
['Anna', 'John', 'Jenny', 'Kerli', 'Madara']
Anna
John
Jenny
Kerli
Madara

In [3]:
var_2 = 100

In [4]:
print(var_2)

100

In [9]:
name = 'trees ' * 10 # text can be multiplied to print as many times
print(name, end = '') # end = '' defines the end value in the print

trees trees trees trees trees trees trees trees trees trees .

In [14]:
name = input('Enter your name please: ') # requires user input and saves it as a variable
print(f'Hello, {name}, nice to meet you!') # f for formatted, called f-string

print('Hello, ', name, 'nice to meet you!') # formatting without f-string

Enter your name please: Lonny
Hello, Lonny, nice to meet you!
Hello,  Lonny nice to meet you!

In [16]:
print(f'Hello {name}, I would like to read the book "Hamlet"') # f-string with '' does not work if there is text in quot marks, for example 'Hamlet', then need to use double quot marks "Hamlet"

Hello Lonny, I would like to read the book "Hamlet"

In [3]:
print("Anna", "Johnson")
print("Anna Johnson") # same result

name = "Anna"
surname = 'Johnson'
print(name, surname) # stores values in variables and transfers values to functions
print('Hello', name)
print('Hello', name, '!') # not great casuse ! doesn't need space before
print(f'Hello {name}!') # using f-string fixes the space issue before !
print('Hello', name, end='!') # works but is longer to type, and end='' removes the new line character \n
print('Hello', name, end='!\n') # now the following text is a new line
print(f'{name} wants to read "Hamlet"') # either use '' for f-string and "" for quot name OR "" for f-string and '' for quot name

Anna Johnson
Anna Johnson
Anna Johnson
Hello Anna
Hello Anna !
Hello Anna!
Hello Anna!Hello Anna!
Anna wants to read "Hamlet"